<head>
<script type="text/javascript" src="js/jquery-1.9.1.js"></script>
<script type="text/javascript" src="js/jsSAWs.js"></script>
<script>
jQuery(document).ready(function() {
                         jQuery('#postData').on('click', function(){SAWs.updateAndPostDirectory("#variablesInfo")})
                         jQuery('#allDirectories').click(function(){SAWs.getAndDisplayDirectory(null,"#variablesInfo")})
                         SAWs.getAndDisplayDirectory(null,"#variablesInfo")
})
</script>
</head>
<body>
<center><h2> <a href="https://bitbucket.org/saws/saws/overview">Scientific Application Web server </a>.</h2></center>
<input type="button" value="Update all variables from server" id="allDirectories">
<input type="button" value="Update server with changes below" id="postData">

<br>
<div id="variablesInfo" style="float:left"></div>
<br>
</body>
